// SPDX-License-Identifier: (GPL-2.0+ OR X11)
/*
 * Copyright 2019 James Lind <james@byteporter.com>
 */

/dts-v1/;

#include "suniv-f1c100s.dtsi"

/ {
    model = "Miyoo PocketGo";
    compatible = "miyoo,miyoo-pocketgo", "allwinner,suniv-f1c100s";

    aliases {
        serial1 = &uart1;
    };

    chosen {
        stdout-path = "serial1:115200n8";
    };
};

&pio {
    uart1_pa_pins: uart1-pa-pins {
        pins = "PA2", "PA3";
        function = "uart1";
    };
};

&uart1 {
    pinctrl-names = "default";
    pinctrl-0 = <&uart1_pa_pins>;
    status = "okay";
};

